.components_title{background-color: rgb(0, 157, 255);}
.btncart .btn_out_stock{
    background-color: crimson;
    color: white;
    cursor: pointer;
}
.btncart:disabled, .btn_out_stock:disabled{
    background-color: lightgray;
    cursor: none;
}
