*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
/*-----Grid System-----*/
img{width: 100%;display: block; height: 100%;}
.grid-container{
display: grid;
grid-template-columns: auto auto auto;
width: 1200px;
margin: 20px auto;
background-color:rgb(250, 250, 250);
box-shadow: 1px 1px 3px gray;
}
.img-container{
    margin: 10px;
    border: solid black 2px;
}
/*-----Media Query -------*/
/*breakpount for large screen up to 1200 px*/
@media screen and (max-width:1200px)
{
.grid-container{
    background-color: pink;
    width: 800px;
    grid-template-columns: auto auto ;
}    
}
/*breakpoint for medium screen size up to 900 px*/
@media screen and (max-width:900px)
{
.grid-container{
    background-color: rgb(182, 215, 246);
    width: 80%;
    grid-template-columns: auto ;
}  
}
/*------Main Container ------*/
.header-container{
    background-color: rgb(39, 145, 186);
    color: white;
    display: flex;
}

    .header-container > div{
        padding: 20px;
    }
.header-container >div:nth-child(3)
{
    margin-left: auto;
}
/*intro container */
.intro-container{
    display: grid;
    height: 300px;
    grid-template-columns: 30% 50% 20%;
}
.nav-menu{
    background-color: lightblue;
}
.content{
    background-color: rgb(86, 86, 243);
}
.blog{
    background-color: rgb(17, 0, 246);
}
.footer{
    background-color: black;
    color: white;
    height: 200 px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer >div{
    color: rgb(119, 112, 245);
    border: solid rgb(159, 212, 248) 2px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto auto;
 }
 .footer > div{
    border: solid rgb(126, 166, 247);
 }

/*breakpoint up to 900 px */
@media screen and (max-width:900px)
 {
    .nav-menu{
        background-color: rgb(86, 86, 243);
    }
    .content{grid-column: span 2 ;}
    .blog{grid-column: span 3;
    }
}
/*--brakpoint up to 600px(smartphone view )--*/
@media screen and (max-width:600px){
    .nav-menu{
        background-color: rgb(88, 88, 192);
        grid-column: span 3;
    }
    .content{grid-column: span 3;
    background-color:red;

    }
    .footer{grid-column: span 3;
    background-color:rgb(238, 152, 152);

}
}